# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.2021f-team6.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\Repos\2021f-team6\.idea\.idea.2021f-team6\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
